# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

# Test reports
reports/
*.html
*.xml
*.log

# Environment variables or secrets
.env
*.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Driver executables
*.exe
*.log
chromedriver
geckodriver

# Screenshot files
screenshots/
